* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    width: 100%;
    height: 100%;
    font-family: 'Abril Fatface', cursive;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

/*******************************
		NAV STYLES
*******************************/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 2em 2em 2em;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #c2c2c2;
}

.navlinks-container {
    position: relative;
}

.navlinks-container img {
    cursor: pointer;
}

.navlinks {
    display: none;
    position: absolute;
    right: 9%;
    overflow: auto;
    box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
    background-color: #a9a9a9;
}

.navlinks ul {
    list-style-type: none;
    flex-direction: column;
    cursor: pointer;
}

.navlinks li {
    padding: 1em 2em;
}

.navlinks li:hover {
    background-color: #989898;
}

.show {
    display: block;
}

/*******************************
		INTRO STYLES
*******************************/

.intro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(./media/apple.jpeg);
    height: 40em;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-content {
    color: #ffffff;
    padding-top: 5em;
}

.intro-main {
    display: block;
    font-size: 4em;
    font-weight: 400;
}

.intro-sub {
    display: block;
    font-size: 2em;
    font-weight: 400;
    padding-top: 3.5em;
}

/*******************************
		ABOUT ME STYLES
*******************************/

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Indie Flower', cursive;
    background-color: #575757;
    text-align: center;
}

.myphoto {
    margin-top: 5em;
    width: 15em;
    height: 20em;
    border-radius: 50%;
}

.column {
    padding-top: 3em;
    margin: 0em 6em 0 6em;
}

.column:last-child {
    padding-bottom: 3em;
}

/*******************************
		SELECTED WORK STYLES
*******************************/

.selected-title {
    padding-top: 1.2em;
}

.selected-work {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #acacac;
}

.selected-work h2 {
    padding-top: 2em;
}

.work-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Indie Flower', cursive;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 60%;
    background-color: #3b3b3b;
    text-align: center;
}


.work-title {
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
    font-size: 3em;
    padding: 0.7em 0 0.5em 0;
    display: block;
}

.web-image {
    width: 25em;
    height: 20em;
}

.content-container {
    margin: 2em 3em 2em 3em;
}

.website-btn {
    margin-top: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ffffff;
    color: #575757;
    padding: 1em 2em;
    margin-right: 0.7em;
    display: inline-block;
    border-radius: 3em;
}

.website-btn:hover {
    background-color: #989898;
}


/*******************************
        CONTACT SECTION
*******************************/

.contact {
    background-color: black;
}

.contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.social-media {
    margin: 2em 0 2em 0;
}

.media-list {
    padding-left: 0.6em;
    display: flex;
}

.media-list li {
    padding-right: 0.7em;
    list-style: none;
    cursor: pointer;
}

.media-list img {
    background-color: white;
    border-radius: 3em;
    padding: 0.5em;
}

.media-list img:hover {
    transform: translateY(-5px);
    box-shadow: 0px 14px 32px rgba(0, 0, 0, 0.3);
}

/*******************************
        MEDIA QUERIES
*******************************/

@media (min-width: 750px) {
    .nav-btn {
        display: none;
    }

    .navlinks-container {
        position: static;
    }

    .navlinks {
        position: static;
        display: inline;
        box-shadow: 0 0 0 0;
        background-color: #c2c2c2;
    }

    .navlinks ul {
        display: flex;
        flex-direction: row;
    }

    .navlinks li {
        padding: 0 2em;
    }
    .navlinks li:hover {
        background-color: #c2c2c2;
        color: black;
    }
}

@media (min-width: 1000px) {
    .work-card {
        flex-direction: row;
    }

    .content-container {
        margin: 0;
        padding: 2em 2em 2em 2em;
    }

    .image-container {
        padding: 2em 2em 4em 4em;
    }

    .work-title {
        padding: 0;
        font-size: 2.5em;
    }
}
